// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.code {
  background-color: #E6E6E6;
  font-family: courier;
}